<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="DBConnectionString" connectionString="Data Source=.;Integrated Security=True;"/>
    </connectionStrings>
  <appSettings>
    <add key ="APP_TITLE" value="Data Dictionary Creator"/>
    <add key ="DESIGN_TIME_SCREEN_WIDTH" value="1920"/>
    <add key ="DESIGN_TIME_SCREEN_HEIGHT" value="1080"/>

    <!--****************************************http://www.tutorialspoint.com/sql/sql-data-types.htm***********************************-->
    <!--****************************************Exact Numeric Data Types****************************************-->
    <add key="bigint_Example" value="123"/>
    <add key="int_RangeFrom" value="-9,223,372,036,854,775,808"/>
    <add key="int_RangeTo" value="+9,223,372,036,854,775,807"/>
    
    <add key="int_Example" value="456"/>
    <add key="int_RangeFrom" value="-2,147,483,648"/>
    <add key="int_RangeTo" value="+2,147,483,647"/>
    
    <add key="smallint_Example" value="55"/>
    <add key="smallint_RangeFrom" value="-32,768"/>
    <add key="smallint_RangeTo" value="+32,767"/>
    
    <add key="tinyint_Example" value="33"/>
    <add key="tinyint_RangeFrom" value="0"/>
    <add key="tinyint_RangeTo" value="255"/>
    
    <add key="bit_Example" value="true/false"/>
    <add key="bit_RangeFrom" value="0"/>
    <add key="bit_RangeTo" value="1"/>
    
    <add key="decimal_Example" value="123.45"/>
    <add key="decimal_RangeFrom" value="-10^38 +1"/>
    <add key="decimal_RangeTo" value="+10^38 -1"/>

    <add key="money_Example" value="67.54"/>
    <add key="money_RangeFrom" value="922,337,203,685,477.5808"/>
    <add key="money_RangeTo" value="+922,337,203,685,477.5807"/>
    
    <add key="smallmoney_Example" value="123"/>
    <add key="smallmoney_RangeFrom" value="922,337,203,685,477.5808"/>
    <add key="smallmoney_RangeTo" value="+922,337,203,685,477.5807"/>

    <!--****************************************Approximate Numeric Data Types****************************************-->
    <add key="float_Example" value="99.21"/>
    <add key="flaot_RangeFrom" value="-1.79E + 308"/>
    <add key="float_RangeTo" value="+1.79E + 308"/>

    <add key="real_Example" value="123"/>
    <add key="real_RangeFrom" value="-3.40E + 38"/>
    <add key="real_RangeTo" value="+3.40E + 38"/>

    <!--****************************************Date and Time Data Types****************************************-->
    <add key="datetime_Example" value="21/09/2016"/>
    <add key="datetime_RangeFrom" value="1 Jan 1753"/>
    <add key="datetime_RangeTo" value="31 Dec 9999"/>
    
    <add key="smalldatetime_Example" value="28/04/2016"/>
    <add key="smalldatetime_RangeFrom" value="1 Jan 1990"/>
    <add key="smalldatetime_RangeTo" value="6 Jun 2079"/>
    
    <add key="date_Example" value="123"/>
    <add key="date_Description" value="Stores a date eg. 30 June 1991"/>
    
    <add key="time_Example" value="123"/>
    <add key="time_Description" value="Stores a time eg. 12:30 PM"/>

    <!--****************************************Character Strings Data Types****************************************-->
    <add key="char_Example" value="Howdy"/>
    <add key="char_Description" value="Max characters"/>
    
    <add key="varchar_Example" value="Hello"/>
    <add key="varchar_Description" value="Max characters"/>

    <add key="varchar(max)_Example" value="Good"/>
    <add key="varchar(max)_Description" value="Max characters"/>
    
    <add key="text_Example" value="Pearl"/>
    <add key="text_Description" value="Max characters"/>

    <!--****************************************Unicode Character Strings Data Types****************************************-->
    <add key="nchar_Example" value="Howdy"/>
    <add key="nchar_Description" value="Max characters"/>

    <add key="nvarchar_Example" value="Hello"/>
    <add key="nvarchar_Description" value="Max characters"/>

    <add key="nvarchar(max)_Example" value="Good"/>
    <add key="nvarchar(max)_Description" value="Max characters"/>
    
    <add key="ntext_Example" value="Pearl"/>
    <add key="ntext_Description" value="Max characters"/>

    <!--****************************************Binary Data Types****************************************-->
    <add key="binary_Example" value="Usually doc/image etc."/>
    <add key="binary_Description" value="Max bytes. Fixed"/>

    <add key="varbinary_Example" value="Usually doc/image etc."/>
    <add key="varbinary_Description" value="Max bytes. Variable"/>

    <add key="image_Example" value="Usually doc/image etc."/>
    <add key="image_Description" value="Max bytes. Variable"/>

    <!--****************************************Binary Data Types****************************************-->
    <add key="sql_variant_Example" value="Various SQL types"/>
    <add key="sql_variant_Description" value="Various SQL types"/>

    <add key="timestamp_Example" value="A database-wide unique number that gets updated every time a row gets updated"/>
    <add key="timestamp_Description" value="A database-wide unique number that gets updated every time a row gets updated"/>

    <add key="uniqueidentifier_Example" value="e3016634-4804-420b-9979-0cf12d3baa4c"/>
    <add key="uniqueidentifier_Description" value="Stores a GUID"/>
    
    <add key="xml_Example" value="Stores XML data"/>
    <add key="xml_Description" value="Stores XML data"/>

    <add key="cursor_Example" value="Stores a cursor"/>
    <add key="cursor_Description" value="Stores a cursor"/>

    <add key="table_Example" value="Stores a resultset"/>
    <add key="table_Description" value="Stores a resultset"/>
  </appSettings>
</configuration>